<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Sortinator Deux</title>
  <link rel="stylesheet" href="../public/stylesheets/style.css" type="text/css">
</head>

<body>
  <div class="wrapper">
    <div class="inputBox">
      <form action="">
        <fieldset>
          <label for="words">Sorting String:</label>
          <input type="text" name="words" id="the-string" placeholder="Please enter the string to sort here" required>
          <input type="submit" id='subButton'>
        </fieldset>
      </form>
    </div>
    <div class="outputBox">

    </div>
  </div>
  <script src="../public/js/client.js"></script>
</body>
</html>