<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Sortinator Deux</title>
  <link rel="stylesheet" href="./style.css" type="text/css">
</head>
<body>
  <div class="wrapper">

    <heading>
      SORT - O - NATOR
    </heading>

    <div class="top-box">

      <form action="">
        <fieldset>
          <input type="text" name="words" id="the-string" placeholder="Please enter string to sort" required>
          <input type="submit" id='subButton'>
        </fieldset>
      </form>
    </div>

    <div class="bottom-box">

    </div>
    
  </div>
  <script src="./client.js"></script>
</body>
</html>